* {
    font-family: Roboto,"system-ui",sans-serif;
}


#slideshow > img{
    width: 100%;
}
img {
    cursor: pointer;
}
#left {
    width: 70%;
}

.flex1 > h1 {
    font-size: 24px;
    font-weight: 400;
    padding-right: 10px;
    position: relative;
}


.flex1 {
    display:flex;
    width: 40%;
    /* gap: 1.5%; */
    /* padding-left:10px; */
    align-items: center;
}

.flex1 > a {
    text-decoration: none;
    /* margin-top: 23px; */
    color: #003380;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    margin-left: -40px;
}

.flex2 {
    display: flex;
    gap: 40px;
    justify-content: flex-wrap;
}

.flex2 > div {
    padding:20px;
}

.flex2 > div > img {
    width: 120%;
    border: 0.5px solid #e9ebee;
    padding: 10px;

}

.flex3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 120px;
    gap: 20px;
    margin-left: 20px;
}

.flex3 > div {
    border: 1px solid #eaeaea;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.flex3 > div > img {
    margin: 0;
    padding: 0;
    height: 100%;
}

.flex4 {
    display:grid;
    grid-template-columns:repeat(4,1fr) ;
    justify-content: center;
    gap: 20px;
}

.flex4 > div {
    border: 0.5px solid #e9ebee;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.merge {
    display: flex;
    gap: 70px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 1px solid red; */
}

.col > div >h1 {
    font-size: 20px;
    font-weight: 600;
    /* padding-right: 10px; */
    position: relative;
}


.f1 > p {
    font-family: Arial;
    font-weight: bold;
}

.f1 > img {
    width: 95%;
}

.head > h1 {
    font-size: 24px;
    font-weight: 400;
    padding-right: 10px;
    position: relative;
    margin-left: 20px;
}


.info_box > p:first-child {
    color: #003380;
    font-size: 15px;
    height: 3.0em;
    line-height: 1.4em;
    margin-right: 20px;
    overflow: hidden;
}

.info_box > p:not(:first-child) {
    margin: 0.2em;
    color: #898989;
}

.info_box > div {
    display: inline-block;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(49, 129, 46);
    background: rgb(239, 252, 245);
    border: 1px solid rgb(49, 129, 46);
    border-radius: 16px;
    font-size: 10px;
    font-weight: 500;
    padding: 1px 6px;
    box-sizing: border-box;
    margin-left: 5px;

}

.info_box > div >p{
    margin: 0;
    padding: 0;
}

.flex5 {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 30px;
    margin-left: 30px;
}

.big {
    font-size: 20px;
    color: black;
}
.samsung1 {
    width: 90%;
}

.samsung2 {
    width: 70%;
}

.samsung3 {
    width: 75%;
}

.samsung4 {
    width: 75%;
}

.samsung5 {
    width: 60%;
}

hr{
    margin-top:30px;
}

.flex6 {
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 40px;
    margin-left: 30px;
}

.op1 {
    width: 95%;
}

.op2 {
    width: 93%;
}

.op3 {
    width: 95%;
}
.op4{
    width: 90%;
}
.op5 {
    width: 90%;
}

.rm3 {
    width: 98%;
}

.rm4 {
    width: 90%;
}

.rm5 {
    width: 90%;
    
}

.mi4 {
    width: 108%;
}

.mi5 {
    width:100%;
}

#all_information{
    padding:0px;
 }
 .all_infor_title{
     padding: 10px 13px;
     color:black;
     font-weight: 500;
 }
 .all_info_detail1,.all_info_detail2{
     font-size: 15px;
     color: #333333;
     padding: 10px 13px;
     text-align: justify;
 }
 
 .all_info_dift{
     padding: 25px 13px  5px 13px;
     color:black;
     font-weight: 600;
 }
 .all_infor_title1{
     padding: 5px 13px;
     color:black;
     font-weight: 500;
 }
 .all_info_detail3{
     font-size: 15px;
     color: #333333;
     padding: 8px 13px;
     text-align: justify;
 }
 .all_infor_title2{
     color: rgb(2, 2, 143);
     padding: 5px 13px;
     font-weight: 500;
 }
 #main_serchbaar .fa-solid {
    position:absolute;
    right: -15px;
}